.ms-bg-body {
    background-color: #1d2d3c;
}

header {
    height: 70px;
    background-color: #06131F;
}

.ms-logo {
    height: 50%;
}

.ms-logo img {
    height: 100%;
}

.ms-container {
    margin: 0 auto;
    width: 600px;
    gap: 20px;
}

.card img {
    width: 100%;
}

.ms-card {
    width: calc((100% / 3) - 20px);
}